* {
  cursor: default;
}

body {
  background-image: url("assets/images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background {
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  color: black;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafbfd;
  filter: blur(1px);
  z-index: -1;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", serif; /* Replace with your desired serif font */
  font-weight: 300;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  /* Additional styling for body content if desired */
}

/* Image and fade */
.image-container {
  overflow: hidden;
  position: relative;
}

.image-container img {
  position: relative;
  top: 0px;
}

.image-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Adjust the height of the fade as needed */
  background: linear-gradient(to bottom, transparent, #fafbfd); /* Adjust the colors as needed */
}

/* For project cards */
.card {
  overflow: hidden;
  position: relative;
}

.card-text {
  position: absolute;
  top: 35px; /* Adjust the value as needed */
  left: 15px;
  right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

@media (min-width: 768px) {
  /* Medium devices (md) and up */
  .card-text {
    top: 50px; /* Top position for md viewport */
    left: 20px;
    right: 20px;
  }
}

@media (min-width: 992px) {
  /* Large devices (lg) and up */
  .card-text {
    top: 65px; /* Top position for lg viewport */
    left: 25px;
    right: 25px;
    font-size: large;
  }
}

.min-card-height {
  min-height: 70px;
}

.card.project {
  height: 25%;
  position: relative;
  overflow: hidden; /* ensures the overlay doesn't extend beyond the card boundaries */
}

.card.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(255,255,255,0) 50%, 
    rgba(255,255,255,1) 90%
  );
  pointer-events: none; /* so the content is still clickable/interactable */
}

.card.project h3,
.card.project p.card-text {
  transition: opacity 0.4s ease-in-out;
}

.card.project:hover {
  cursor: pointer;
}

.card.project:hover h3,
.card.project:hover p.card-text {
  opacity: 0.5;
}

.card.project p.read-more {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card.project p.read-more:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: -1;
}

.card.project:hover p.read-more {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -30%) scale(1.1);
}

/* Spinner */
.small-spinner {
  width: 2px;
  height: 2px;
  border-width: 0.2em;
}

/* Modal */
.modal {
  align-items: center;
  justify-content: center;
  display: flex; /* Add this line to enable flexbox */
}

.modal-dialog {
  margin: 0 auto; /* Center horizontally */
  width: auto;
  max-width: 90%;
  height: 90%;
  overflow-y: auto;
}

.modal-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
}